<%- include partials/nav/newhead %>
  <!-- BEGIN : Body-->
  <body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">


      <%- include partials/nav/newmain %>


      <%- include partials/nav/newheader %>

      <div id="page">
        <%- include partials/pages/dashboard %>
      </div>

      <%- include partials/nav/newfooter %>   

      <%- include partials/nav/newsidebar %>
    
      <%- include partials/newjs %>


  </body>
  <!-- END : Body-->
</html>